* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

header, section {
  height: 100vh;
}

legend {
  text-align: center;
}

form {
  margin: 0 auto;
  width: 80%;
}

section {
  text-align: center;
}